/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 de set. de 2023, 19:26:06
    Author     : Aluno
*/
.fundo{
    background-color:#ecedee;
    margin-bottom: inherit
       
       
}
.logo{
    background-color: #146c43;
}
.escrita{
     background-color:#146c43;
}



